@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
   scroll-behavior: smooth;
 


}


*::-webkit-scrollbar {
   
    width: 0px;
  }
*::-webkit-scrollbar-track{
    background-color: white;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    
    
}

:root{
    --primary-color: #c71726;
    --second-color:#daa807;
}

important{
    color: red;
    font-weight: 700;
}


/*-------------------------------------------------------------*/

.top_banner{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}
header{
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
}


.header_container{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    max-width: 731px;
    height: 70px;
    margin: auto;
}




.logo{
    color: white;
    padding: 5px;
    border: 1px solid;
    margin-left: 10px;
    user-select: none;
}

.search_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    max-width: 80%;
    width: 70%;
}

.search_Box{
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 5px;
    
    width: 90%;
    height: 35px;
}

.search_Box:focus{
    outline: none;
}

.search_Box::placeholder{
    font-size: 0.8em;
    color: rgb(0, 0, 0);
}

.search_Container > .material-symbols-outlined{
    user-select: none;
    display: flex;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    height: 35px;
    color: rgb(0, 0, 0);
}

.shopping_cart_container{
    user-select: none;
    margin-left: 15px;
    display: flex;
    align-items: center;
  
}

.shopping_cart_container > .material-symbols-outlined{
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    
}

#qntProduto{
    color: white;
}

.user_login{
    user-select: none;
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    
    

}

.user_login > .material-symbols-outlined{
    font-size: 1.5em;
    color: white;
    
    border: 2px solid white;
    border-radius: 50%;
    
}


.loginContainer{
    position: absolute;
    display: none;
    align-items: center;
    flex-direction: column;
    right: 0;
   width: 300px;
    height: 500px;
   
    
    background-color: var(--primary-color);
    border-radius: 0px 0px 10px 10px;
    

    border-top: 5px solid var(--second-color);

    box-shadow: -1px 9px 16px rgba(0, 0, 0, 0.37);


    z-index: 1;
    
}

.loginContainer >  h2{
    text-align: center;
    margin-top: 10px;
    color: white;
}

.loginContainer > .material-symbols-outlined{
    display: inline-block;
    
    

    margin-top: 20px;
    font-size: 4.5em;
    color: white;
   
    border: 2px solid white;
    border-radius: 50%;
    
}

form{
    width: 70%;
}

#userEmail, #userPassword{
   
    margin: auto;
    display: block;
    width: 100%;
    
}

#loginBttn{
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    width: 210px;
    height: 50px;
    background-color: var(--second-color);

}

label{
   
    color: aliceblue;
    
}


/*Menu do carrinho*/

.cartContainer{
    color: white;
    position: absolute;
    display: none;
    align-items: center;
    flex-direction: column;
    right: 0;
    width: 300px;
    height: 500px;
   
    background-color: var(--primary-color);
    border-radius: 0px 0px 10px 10px;
    

    border-top: 5px solid var(--second-color);

    box-shadow: -1px 9px 16px rgba(0, 0, 0, 0.37);

    z-index: 1;
    overflow: auto;
}



/*Carrinho Vazio*/

.cartEmpty{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cartContainer h2{
    margin-top: 10px;
}

.cartEmpty img{
    margin-top: 70px;
    margin-left: 30px;
    width: 50%;
    
}

.cartEmpty p{
    margin-top: 15px;
}




/*Carrinho com item*/

.cartProdutos{
    display: none;
    color: black;
    
    width: 90%; height: 80px;
    margin-top: 20px;
    
    
    border-radius: 10px;
}

.cartProdutos .item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
    background-color: white;
    
    margin-top: 10px;
    
   
    width: 100%;
    height: 100%;
}

.cartProdutos .itemImg{
    width: 70px;
    height: 100%;
   
   
    
}

.cartProdutos .itemDesc{
    width: 70px;
    overflow: hidden;
    margin-left: 15px;
    font-size: 0.7em;
}

.cartProdutos .itemPreco{
    
    display: inline;
    background-color: white;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}


.cartProdutos .cartQnt{
    font-size: 1.3em;
}

.cartProdutos .material-symbols-outlined{
    font-size: 1.9em;
    color: var(--primary-color);
    cursor: pointer;
}

.cartProdutos .material-symbols-outlined:active{
    transform: scale(1.10);
}

.cartProdutos #qntItens{
    padding: 10px;
    margin-left: 10px;
    
    
}


.produtos{
    font-size: 0.9em;
    text-transform: uppercase;
    background-color: var(--second-color);
    margin-top: 20px;

    color: rgb(0, 0, 0);
    text-align: center;

    

}


.containerSoma{

    
    position: sticky;
    
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 80px;
    
    padding: 5px;
    background-color: white;
}

.cartContainer::-webkit-scrollbar {
   
    width: 5px;
  }
.cartContainer::-webkit-scrollbar-track{
    background-color: white;
}

.cartContainer::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: 10px;
    
    
}


.containerSoma .descSoma{
    font-size: 1.3em;
    width: 130px;
    margin-right: 8px;
}

#soma{
    display: block;
    font-size: 1.6em;

    width: 90%;
    
    margin-left: 3px;
    margin-top: -10px;
}


.btnComprar{
    color: white;
    width: 120px;
    background-color: var(--primary-color);

    text-align: center;

    cursor: pointer;
}

.btnComprar:active{
    transform: scale(1.1);
}


.clearAll{
    cursor: pointer;
    
    color: #ffffff;


    
    
    
}








nav{
   
    font-size: 0.9em;
    display: flex;
   justify-content: space-around;


    padding-top: 10px;
    
   
    width: 100%;
    height: 40px;

    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.445);

    
}

.nav_container{
    
    max-width: 731px;
    height: 100px;
    
}

.nav_container li{
    
    list-style: none;
    display: inline;
    cursor: pointer;
    cursor: pointer;
}






.nav_container li:hover{
   color: var(--primary-color); 
   border-bottom: 2px solid var(--primary-color);
}



/*Main e corpo*/




main{
    width: 100%;
    height: 900px;
   

    margin-top: 20px;
    
}

.bannerTop{
    display: block;
   margin-top: 40px;
    text-align: center;
}

picture > img{
    width: 90%;
    max-width: 840px;
    min-width: 350px;
  

    margin: auto;
}

.produtosContainer{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    margin: auto;
    margin-top: 20px;
    
    
   width: 100%;
   max-width: 892px;

    border-top: 2px solid var(--primary-color);
    
}


.produtosContainer > .produto{
    
    background-color: white;
    
    width: 170px; height: 330px;
    padding: 5px;
    

    margin: 10px;

    border-radius: 10px;
    
    box-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.5);

    transition: all 0.5s;
}





.produto > .desconto{
    text-align: center;
    display: inline-block;
    width: 70px;
    
    padding: 10px;
    position: relative;
    top: -4.5px;
    right: -5px;

    border-radius: 0 0 10px 10px;
    
    text-align: center;
   font-size: 1.1em;
   z-index: 0;
    

    color: aliceblue;
    background-color: var(--primary-color);
}

.maiorDesconto{
    
    animation: piscar 0.5s ease;
    animation-iteration-count: infinite;
}

@keyframes piscar {
    0%{
        background-color: var(--primary-color);
    }

    100%{
        background-color: var(--second-color);
    }
}


.produto > .imgProdutoPadrao1{
    background-image: url(../imgs/Cafe-3-Coracoes-Torrado-e-Moido-Tradicional-500g.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 140px;
    width: 150px;
    height: 150px;
    margin: auto;
}

.produto > .imgProdutoPadrao2{
    background-image: url(../imgs/arroz_camil.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70px;
    width: 150px;
    height: 150px;
    margin: auto;
}

.produto > .imgProdutoPadrao3{
    background-image: url(../imgs/feijao.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70px;
    width: 150px;
    height: 150px;
    margin: auto;
}

.produto > .imgProdutoPadrao4{
    background-image: url(../imgs/leite-italac.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 140px;
    width: 150px;
    height: 150px;
    margin: auto;
}

.produto > .imgProdutoPadrao5{
    background-image: url(../imgs/margarina.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 140px;
    width: 150px;
    height: 150px;
    margin: auto;
}



.produto > .descricaoProduto{
    text-align: center;
    font-size: 0.9em;
    width: 100%;
    height: 50px;
}

.produto > .precoAntes{
    font-size: 0.8em;
    text-decoration: line-through;
}

.produto > .precoAtual{
    display: inline;
    float: left;
    font-weight: 700;
    font-size: 1.5em;
    width: 60%;

   
}

.produto > .btnAddCart{
    color: white;
    font-size: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    float: right;
    margin-right: 10px;
    border-radius: 10px;
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;

    cursor: pointer;

    transition: all 1,5s;

}

.produto > .btnAddCart:active{
    transform: scale(1.1);
}





#alert{
    z-index: 0;
    
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    bottom: 10px;
    justify-content: center;
    width: 50%;
    
    
    
    
    

}


.alertC{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    width: 90%;
    height: 30px;
}

#alert h3{
    font-size: 0.8em;
    display: inline-block;
    padding: 10px;
    margin-top: 3px;
}

#descAlert{
    color: #ffffff;
}

#alert span{
    background-color: green;
    border-radius: 50%;
   
}


#back-to-top{
    z-index: 0;
    display: none;
    position: fixed;
    bottom: 30px;
    
    justify-content: center;
   
    width: 100%;
    
    
    

}

#back-to-top span{
    color: aliceblue;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#back-to-top span:hover{
    
}



.shake-animation{
    animation: shake 2s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes shake {

    25%{
        transform: rotate(10deg);
    }

    75%{
        transform: rotate(-10deg);
    }

   
}